body {
	background: whiteSmoke;
	font: 16px Georgia, serif;
	color: #333;
	line-height: 18px;
	padding: 0 10px 10px 10px;
}
label {
	font-weight: normal;
}
dl dt {
	font-weight: normal;
}
a, a:link, a:hover, a:active {
	color: #000;
	text-decoration: none; 
}
a, a:link, a:hover, a:active, a:hover {
	padding: 0 3px 0 3px; 
}
a:hover, a:focus {
	background: rgba(0, 0, 0, 0.15);
	outline: 1px solid #ccc;
}
.you-are-not-a-bot {
	display: none;
	margin: 4px 0 4px 0;
}
.you-are-not-a-bot span {
	border: thin solid #ccc;
	padding: 4px;
	display: inline-block;
	vertical-align: text-top;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.easy-readable {
	width: 600px;
}
.left-float {
	float: left;
	margin: 0 18px 18px 0;
}
.clear {
	clear: both;
}
.link-facebook:hover {
	background: #3B5998;
	outline: thin solid #3b5998;
	color: white;
}
.link-twitter:hover {
	background: #5599BB;
	outline: thin solid #5599BB;
	color: white;
}
.link-github:hover {
	background: #FAFAFA;
	outline: thin solid #aaa;
	color: #000;
}

}
/* Buttons */
form a.button, form button, form input[type=submit] {
  display: inline-block;
  margin: 0.7em 0.5em 0.7em 0;
  padding:5px 10px 5px 7px;   /* Links */
  
  border:1px solid #dedede;
  border-top:1px solid #eee;
  border-left:1px solid #eee;

  background-color:#f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size:100%;
  font-weight: normal;	
  color:#000;
  line-height:130%;
  text-decoration:none;
  cursor:pointer;
}
/* Standard */
button:hover, a.button:hover, input[type=submit]:active {
  background-color:#f5f5f7;
  color:#000;
}
a.button:active, input[type=submit]:active {
  background-color:#f5f5f7;
  border:1px solid #ace;
  color:#000;
}

/* Positive */
body .positive {
	color:#000;
}
a.positive:hover, button.positive:hover, input[type=submit].positive:hover {
  background-color:#E6EFC2;
  border:1px solid #C6D880;
  color:#000;
}
a.positive:active, input[type=submit].positive:active {
  background-color:#529214;
  border:1px solid #529214;
  color:#000;
}

/* Negative */
body .negative {
  color:#000;
}
a.negative:hover, button.negative:hover, input[type=submit].negative:hover {
  background-color:#fbe3e4;
  border:1px solid #fbc2c4;
  color:#000;
}
a.negative:active, input[type=submit].negative:active {
  background-color:#d12f19;
  border:1px solid #d12f19;
  color:#fff;
}

.button {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	#-webkit-box-shadow: 1px 1px 1px #aaa;
	#-moz-box-shadow: 1px 1px 1px #aaa;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
}
.button:hover {
	#-webkit-box-shadow: 1px 1px 1px #777;
	#-moz-box-shadow: 1px 1px 1px #777;
}
.button:active {
	-webkit-box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.2);
	-moz-box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.2);	
}

a.positive:hover, button.positive:hover, input[type=submit].positive:hover {
	background-color:#f5f7f5;
	border:1px solid #aea;
	/* border:1px solid #C6D880; */	
	color: #000;
	font-weight: normal;
}
a.positive:active, input[type=submit].positive:active {
	background-color:#f5f7f5;
}
input[type=submit].active {
	color: inherit;
}

/* Forms */
.success {
	background: #efffef;
	border: thin solid #aaa;
	-webkit-border-radius: 3px;
}

/* Halo Headshots */
.nodeContent {
	background: #fff;
	background: -webkit-gradient(linear, 0% 0%, 0% 200, from(#fff), to(#f5f5f5));
	background: -moz-linear-gradient( center top, #fff 0%, #f5f5f5 200px );
	padding: 17px;
}
.nodeBorderBackground {
	background: #fff;
	background: -webkit-gradient(linear, 0% 0%, 0% 200, from(#ccc), to(#f5f5f5));
	background: -moz-linear-gradient( center top, #ccc 0%, #f5f5f5 200px );
	padding: 1px;
}
.playerModel {
	outline: thin solid #aaa;
	margin-right: 20px;
	background: #000;
	background: -webkit-gradient(linear, 0% 60%, 0% 100%, from(#000), to(#222));
	background: -moz-linear-gradient( center bottom, #222 0%, #000 40% );
	padding: 18px;
	position: relative;
	height: 399px;
	/*
	width: 207px;
	float: left;
	*/
}
.playerModel .playerEmblem {
	position: absolute;
	top: 10px;
	right: 10px;
}
.playerDetailsContent {
	/*float: right;
	width: 647px;*/
}
.clear {
	clear: both;
}
dt {
}
dd {
	font-style: italic;
}
hr {
	color: #777;
	background: #777;
	border-bottom: thin solid #ccc;
}
.switch-logViewer-hide {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 100;
}
.logViewer {
	z-index: 50;
	position: absolute;
	top: 0;
	right: 0;
	background: rgba( 255, 255, 255, 0.7 );
	padding: 2%;
	max-width: 400px;
	overflow: auto;
	height: 90%;
}
.logViewer h3 {
	font-size: 18px;
}
nav {
	background: #555;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#555));
	background: -moz-linear-gradient( center bottom, #555 0%, #777 100% );
	outline: thin solid #aaa;
	color: #fff;
	padding: 6px 0 6px 0;
	margin-bottom: 18px;
	display: block;
}
nav ul {
	margin-bottom: 0;
}
nav a {
	color: #f5f5f5;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	margin: 0px 18px;
	list-style-type: none;
	float: left;
}
nav a:hover, nav a:active, nav a:link, nav a:focus {
	color: #fff !important;
}
nav a:hover, nav a:active, nav a:focus {
	background: rgba( 255, 255, 255, 0.1 );
}
nav input#gt {
	margin: 0;
}
nav form.navigation-searchGamertag {
	float:right;
	margin-right: 6px;
}

.clear {
	clear:both;
}
.ad-mixpanel {
	float:right;
}